page-pass {
    #back{
        position: absolute;
        background: url('../../assets/imgs/screen.svg') no-repeat top center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        
      }
}
#mov{
    padding-top: 50%;
}
h4{
    padding-top: 10%;
}

#btn{
    padding-top: 10%;
    text-align: center;
  
}
