<!-- <ion-header>
  <ion-navbar color="new">
     
    <ion-title text-center>SignUp</ion-title>
  </ion-navbar>
</ion-header>  -->
<ion-content id="back" padding>
   
     
      <div id="form">
          <h6 style="padding-left:6.5%;">Please fill in this form to create an account.</h6>
        
          <form [formGroup]="spazaShop" style="width: 90%;"> 
        
            <ion-item>
            
                <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
               </ion-item>
               <div *ngIf="spazaShop.controls.name.invalid && spazaShop.controls.name.dirty">  
               </div>
               <div class="error" *ngIf="spazaShop.get('name').hasError('minlength') && spazaShop.get('name').touched">
                  Minimum 4 characters
                </div>
                <div class="error" *ngIf="spazaShop.get('name').hasError('maxlength') && spazaShop.get('name').touched">
                    Maximum 30 characters
                  </div>
            
                <ion-item>
                 <ion-input type="text" formControlName="surname" placeholder="Surname" ></ion-input>
                   </ion-item>
                   <div *ngIf="spazaShop.controls.surname.invalid && spazaShop.controls.surname.dirty">
                   </div>
                   <div class="error" *ngIf="spazaShop.get('surname').hasError('minlength') && spazaShop.get('surname').touched">
                      Minimum 4 characters
                    </div>
                    <div class="error" *ngIf="spazaShop.get('surname').hasError('maxlength') && spazaShop.get('surname').touched">
                        Maximum 30 characters
                      </div>
        
                   <ion-item>
                      <ion-label>Gender</ion-label>
                        <ion-select formControlName="gender">
                          <ion-option value="male">Male</ion-option>
                          <ion-option value="female">Female</ion-option>
                          <ion-option value="transgender">Trans-gender</ion-option>
                          <ion-option value="other">Other</ion-option>
                        </ion-select>                                      
                        <div *ngIf="spazaShop.controls.gender.invalid && spazaShop.controls.gender.dirty">
                        </div> 
                 </ion-item>
                   <ion-item>
                     <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
                       </ion-item>
                       <div *ngIf="spazaShop.controls.email.invalid && spazaShop.controls.email.dirty">
                       </div> 
                       <div class="error" *ngIf="spazaShop.get('email').hasError('required') && spazaShop.get('email').touched">
                        Please input your email
                      </div>
                      <div class="error" *ngIf="spazaShop.get('email').hasError('pattern') && spazaShop.get('email').touched">
                        Email address invalid
                      </div>
        
                       <ion-item>
                        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                          </ion-item>
                          <div *ngIf="spazaShop.controls.password.invalid && spazaShop.controls.password.dirty">
                          </div> 
        
                          <div class="error" *ngIf="spazaShop.get('password').hasError('required') && spazaShop.get('password').touched">
                            Please input your password
                          </div>
        
                          <div class="error" *ngIf="spazaShop.get('password').hasError('minlength') && spazaShop.get('password').touched">
                            Minimum 6 characters
                          </div>
        
                          <div class="error" *ngIf="spazaShop.get('password').hasError('maxlength') && spazaShop.get('password').touched">
                            Maximum 12 characters
                          </div>
                    
                   </form><br>
  
                   <div id="btn">
                      <button ion-button color="dark" type="submit" outline (click)=register(spazaShop) [disabled]="spazaShop.invalid">REGISTER</button>
                   </div>
                  
      </div>
         
</ion-content>