page-feed {
    #mapid {
        height: 100%;
       
        background-size: cover;
        width: 100%;
    }
    .side_menu{
        margin-top: 8%;
    }

    .directions{
        // color:red;
        margin-top: 800%;
        margin-left: 420%;
        size: 600px;
    }

}
