page-send-spaza-location {
    #back{
        position: absolute;
        background: url('../../assets/imgs/low.svg') no-repeat top center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        
      }
      
}

